setuptools==50.3.2
grpcio==1.42.0
grpcio-tools==1.42.0
google-api-core==2.2.2
protobuf==3.19.1
gapic-google-cloud-speech-v1==1.35.0
grpc-google-cloud-speech-v1==0.8.1
proto-google-cloud-speech-v1==0.15.3
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-cloud-core==2.2.1
google-cloud-speech==2.11.1
googleapis-common-protos==1.53.0
httplib2==0.20.2
oauth2client==2.2.0
pydub==0.25.1
pyaudio==0.2.11
